.body {
  background-color: #f8f9fa;
  margin: 10px;
  padding: 0px;
  box-sizing: border-box;
}
.body header {
  background-color: #f8f9fa;
  display: flex;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
}
.body header nav div a img {
  height: 100px;
}
.body header nav #navbarTogglerDemo02 {
  color: #f8f9fa;
  position: relative;
}
.body header nav #navbarTogglerDemo02 ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.body header nav #navbarTogglerDemo02 ul li a {
  color: #000000;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px 55px 0px 55px;
  justify-content: space-between;
  align-items: center;
  font-size: larger;
}
.body header nav #navbarTogglerDemo02 ul li a:hover {
  background-color: #000000;
  color: #ffffff;
  transition: 0.5s;
  border-radius: 5px;
}
.body main .ofertas {
  padding: 10px;
  margin: 6px;
  background: linear-gradient(white, white) padding-box, linear-gradient(to right, #15eaf2, #3af725) border-box;
  border-radius: 50em;
  border: 5px solid transparent;
}
.body main .ofertas p {
  font-family: "Anton", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 2vw;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
}
.body main h1 {
  font-family: "Anton", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 8vw;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  padding: 10px;
}
.body main .titulo-centrado {
  font-family: "Anton", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 8vw;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  padding: 15px;
}
.body main .imagenes-inicio .imagen-inicio {
  height: 500px;
  margin-left: 5px;
  width: 100%;
}
.body main .categorias-inicio {
  box-sizing: border-box;
}
.body main .categorias-inicio .fila-categorias {
  display: flex;
}
.body main .categorias-inicio .fila-categorias .columna-categorias {
  float: left;
  flex: 25%;
  padding: 5px;
}
.body main .categorias-inicio .fila-categorias .columna-categorias .imagen-categorias {
  display: block;
  width: 100%;
  height: 400px;
}
.body main .categorias-inicio .fila-categorias .columna-categorias:hover {
  transform: translateY(-10px);
  background-color: #333333;
  color: #fff;
  transition: 1s;
}
.body main .categorias-inicio .link-categorias {
  background-color: #000000;
  display: block;
  margin-top: 5px;
  margin-left: 0px;
  width: 100px;
  text-decoration: none;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 1;
  border-radius: 10px;
  color: #ffffff;
}
.body main .categorias-inicio .link-categorias:hover {
  background-color: #494141;
  border: 1px solid #000000;
  color: #ffffff;
  transition: 1s;
}
.body main .ingresos .ingreso-zapa {
  text-align: center;
}
.body main .ingresos .ingreso-zapa img {
  border-radius: 10px;
  width: 75%;
  height: 550px;
}
.body main .ingresos .ingreso-zapa h5 {
  font-family: "Anton", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  font-size: 2vw;
  text-align: center;
  line-height: 1;
  padding: 15px;
}
.body main .ingresos .ingreso-zapa .link-categorias {
  background-color: #000000;
  width: 100px;
  text-decoration: none;
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
.body main .ingresos .ingreso-zapa .link-categorias:hover {
  background-color: #494141;
  border: 1px solid #000000;
  color: #ffffff;
  transition: 1s;
}
.body .footer {
  position: relative;
  width: 100%;
  background: #333333;
  min-height: 100px;
  padding: 15px 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.body .footer .social-icono {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}
.body .footer .social-icono .social-icono_item {
  list-style: none;
}
.body .footer .social-icono .social-icono_link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.body .footer .social-icono .social-icono_link:hover {
  transform: translateY(-10px);
}
.body .footer .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
  list-style: none;
}
.body .footer .menu .menu_item {
  list-style: none;
}
.body .footer .menu .menu_link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}
.body .footer .menu .menu_link:hover {
  transform: translateY(-5px);
}
.body .footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

@media screen and (max-width: 678px) {
  .fila-categorias {
    flex-direction: column;
  }
  .fila-categorias .columna-categorias {
    flex: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 678px) {
  .ingresos img {
    height: 300px;
  }
}
main section .titulo-tienda {
  font-family: "Anton", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 900;
  font-size: 8vw;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  padding: 15px;
}
main .dropdown {
  padding: 10px;
}
main section .fila {
  display: flex;
}
main section .fila .columna {
  width: 33.3%;
  padding: 5px;
}
main section .fila .columna .nombre-zapatilla {
  display: flex;
  justify-content: space-between;
  font-family: "Anton", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-size: large;
  padding-top: 5px;
}
main section .fila .columna .precio-zapatilla {
  display: flex;
  justify-content: space-between;
  font-family: "Anton", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-size: large;
}
main section .fila .columna .imagen-tienda {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}
main section .fila .columna:hover {
  transform: translateY(-10px);
  background-color: #333333;
  color: #fff;
  transition: 1s;
}
main .footer {
  position: relative;
  width: 100%;
  background: #333333;
  min-height: 100px;
  padding: 15px 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .footer .social-icono {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}
main .footer .social-icono .social-icono_item {
  list-style: none;
}
main .footer .social-icono .social-icono_link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
main .footer .social-icono .social-icono_link:hover {
  transform: translateY(-10px);
}
main .footer .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
  list-style: none;
}
main .footer .menu .menu_item {
  list-style: none;
}
main .footer .menu .menu_link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}
main .footer .menu .menu_link:hover {
  transform: translateY(-5px);
}
main .footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

main {
  margin: 3px;
}
main section {
  margin-left: 3px;
}
main section .titulo-centrado {
  font-family: "Anton", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 900;
  font-size: 8vw;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  padding: 15px;
}
main section .fila-atletas {
  display: flex;
}
main section .fila-atletas .columna-atletas {
  flex: 33.3%;
  padding: 5px;
  display: inline-block;
  position: relative;
}
main section .fila-atletas .columna-atletas img {
  display: block;
  width: 100%;
  height: 500px;
}
main section .fila-atletas .nombre-atleta {
  position: absolute;
  top: 7%;
  left: 50%;
  padding: 10px 20px;
  font-size: 20px;
  text-align: right;
  font-family: "Anton", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1;
  padding: 15px;
  color: #a39b9b;
}
main .grid-container-atleta {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  margin-left: 3px;
  gap: 0;
}
main .grid-container-atleta .grid-item-atleta {
  background-color: #000000;
  grid-column: 1/2;
  grid-row: 1/1;
  padding: 16px;
  border-radius: 5px;
}
main .grid-container-atleta .grid-item-atleta h1 {
  font-family: "Anton", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 900;
  font-size: 3vw;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  padding: 15px;
  color: #a39b9b;
}
main .grid-container-atleta .grid-item-atleta p {
  font-family: "Anton", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 900;
  font-size: 2vw;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  padding: 15px;
  color: #ffffff;
}
main .grid-container-atleta .grid-item-atleta-dos {
  background-color: #000000;
  grid-column: 2/2;
  grid-row: 1/1;
  padding: 16px;
  border-radius: 5px;
}
main .grid-container-atleta .grid-item-atleta-dos img {
  width: 100%;
  border-radius: 5px;
}
main .fila-atletas-dos {
  display: flex;
}
main .fila-atletas-dos .columna-atletas-dos {
  flex: 33.3%;
  padding: 5px;
  display: inline-block;
  position: relative;
}
main .fila-atletas-dos .columna-atletas-dos img {
  display: block;
  width: 100%;
  height: 500px;
}
main .fila-atletas-dos .nombre-atleta-dos {
  position: absolute;
  top: 7%;
  left: 50%;
  padding: 10px 20px;
  font-size: 20px;
  text-align: right;
  font-family: "Anton", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1;
  padding: 15px;
  color: #a39b9b;
}
main .footer {
  position: relative;
  width: 100%;
  background: #333333;
  min-height: 100px;
  padding: 15px 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .footer .social-icono {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}
main .footer .social-icono .social-icono_item {
  list-style: none;
}
main .footer .social-icono .social-icono_link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
main .footer .social-icono .social-icono_link:hover {
  transform: translateY(-10px);
}
main .footer .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
  list-style: none;
}
main .footer .menu .menu_item {
  list-style: none;
}
main .footer .menu .menu_link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}
main .footer .menu .menu_link:hover {
  transform: translateY(-5px);
}
main .footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

@media screen and (max-width: 678px) {
  .fila-atletas {
    flex-direction: column;
  }
  .fila-atletas .columna-atletas {
    flex: 100%;
  }
  .fila-atletas .nombre-atleta {
    position: fixed;
  }
}
@media screen and (max-width: 678px) {
  .fila-atletas-dos {
    flex-direction: column;
  }
  .fila-atletas-dos .columna-atletas-dos {
    flex: 100%;
  }
  .fila-atletas-dos .nombre-atleta-dos {
    position: fixed;
  }
}
main .grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
main .grid-container .grid-item-uno {
  background-color: #000000;
  grid-column: 1/2;
  grid-row: 1/2;
  padding: 16px;
  border-radius: 5px;
}
main .grid-container .grid-item-uno h1 {
  font-family: "Anton", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 900;
  font-size: 3vw;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  padding: 15px;
  color: #a39b9b;
}
main .grid-container .grid-item-uno p {
  font-family: "Anton", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 900;
  font-size: 2vw;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  padding: 15px;
  color: #ffffff;
}
main .grid-container .grid-item-dos {
  background-color: #000000;
  grid-column: 2/2;
  grid-row: 1/2;
  padding: 16px;
  border-radius: 5px;
}
main .grid-container .grid-item-dos img {
  width: 100%;
  border-radius: 5px;
}
main .grid-container .grid-item-tres {
  background-color: #8d021f;
  grid-column: 1/2;
  grid-row: 2/2;
  padding: 16px;
  border-radius: 5px;
}
main .grid-container .grid-item-tres img {
  width: 100%;
  border-radius: 5px;
}
main .grid-container .grid-item-cuatro {
  background-color: #8d021f;
  grid-column: 2/2;
  grid-row: 2/2;
  padding: 16px;
  border-radius: 5px;
}
main .grid-container .grid-item-cuatro h1 {
  font-family: "Anton", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 900;
  font-size: 3vw;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  padding: 15px;
  color: #a39b9b;
}
main .grid-container .grid-item-cuatro p {
  font-family: "Anton", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 900;
  font-size: 2vw;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  padding: 15px;
  color: #ffffff;
}
main .footer {
  position: relative;
  width: 100%;
  background: #333333;
  min-height: 100px;
  padding: 15px 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .footer .social-icono {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}
main .footer .social-icono .social-icono_item {
  list-style: none;
}
main .footer .social-icono .social-icono_link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
main .footer .social-icono .social-icono_link:hover {
  transform: translateY(-10px);
}
main .footer .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
  list-style: none;
}
main .footer .menu .menu_item {
  list-style: none;
}
main .footer .menu .menu_link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}
main .footer .menu .menu_link:hover {
  transform: translateY(-5px);
}
main .footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.titulo-historia {
  font-family: "Anton", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  padding: 10px 30px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid;
}

.texto-historia {
  text-align: left;
  font-family: "Anton", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  margin: 15px;
}

.columna-historia {
  width: 25%;
  padding: 5px;
  display: inline-block;
  position: relative;
}

.columna-historia img {
  display: block;
  width: 100%;
  height: 180px;
}

.fila-historia {
  display: flex;
}

.lideres {
  text-align: left;
  font-family: "Anton", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
}

.footer {
  position: relative;
  width: 100%;
  background: #333333;
  min-height: 100px;
  padding: 15px 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer .social-icono {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}
.footer .social-icono .social-icono_item {
  list-style: none;
}
.footer .social-icono .social-icono_link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.footer .social-icono .social-icono_link:hover {
  transform: translateY(-10px);
}
.footer .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
  list-style: none;
}
.footer .menu .menu_item {
  list-style: none;
}
.footer .menu .menu_link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}
.footer .menu .menu_link:hover {
  transform: translateY(-5px);
}
.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

/*# sourceMappingURL=style.css.map */
