.body {
  background-color: #f8f9fa;
  margin: 10px;
  padding: 0px;
  box-sizing: border-box;
}
.body header {
  background-color: #f8f9fa;
  display: flex;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
}
.body header nav div {
  flex: 100%;
}
.body header nav div a img {
  height: 100px;
}
.body header nav #navbarTogglerDemo02 {
  color: #f8f9fa;
  position: relative;
}
.body header nav #navbarTogglerDemo02 ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.body header nav #navbarTogglerDemo02 ul li a {
  color: #000000;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px 55px 0px 55px;
  justify-content: space-between;
  align-items: center;
  font-size: larger;
}
.body header nav #navbarTogglerDemo02 ul li a:hover {
  background-color: #000000;
  color: #ffffff;
  transition: 0.5s;
  border-radius: 5px;
}
.body main .banner-descuento {
  width: 100%;
  background-size: cover;
  font-size: 80px;
  color: #fff;
  text-align: center;
  padding: 40px 15px;
  background: url(https://static.nike.com/a/images/f_auto,cs_srgb/w_1920,c_limit/tpqid8vgfey6m4ke86te/nike-joyride.jpg);
}
.body main .banner-descuento .titulo-descuento {
  font-size: 130px;
  font-weight: 800;
  animation-delay: 1s;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}
.body main .banner-descuento a {
  display: inline-block;
  background: #fff;
  color: #36465d;
  text-transform: uppercase;
  padding: 14px;
  text-decoration: none;
  font-size: 40px;
  transition: 0.3s;
  border-radius: 5px;
}
.body main .banner-descuento a:hover {
  background: #333;
  color: #fff;
  padding: 15px 20px;
}
.body main h1 {
  font-family: "Anton", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 8vw;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  padding: 10px;
}
.body main .titulo-centrado {
  font-family: "Anton", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 8vw;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  padding: 15px;
}
.body main .imagenes-inicio .imagen-inicio {
  height: 500px;
  margin-left: 5px;
  width: 100%;
}
.body main .categorias-inicio {
  box-sizing: border-box;
}
.body main .categorias-inicio .fila-categorias {
  display: flex;
}
.body main .categorias-inicio .fila-categorias .columna-categorias {
  float: left;
  flex: 25%;
  padding: 5px;
}
.body main .categorias-inicio .fila-categorias .columna-categorias .imagen-categorias {
  display: block;
  width: 100%;
  height: 400px;
}
.body main .categorias-inicio .fila-categorias .columna-categorias:hover {
  transform: translateY(-10px);
  background-color: #333333;
  color: #fff;
  transition: 1s;
}
.body main .categorias-inicio .link-categorias {
  background-color: #000000;
  display: block;
  margin-top: 5px;
  margin-left: 0px;
  width: 100px;
  text-decoration: none;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 1;
  border-radius: 10px;
  color: #ffffff;
}
.body main .categorias-inicio .link-categorias:hover {
  background-color: #494141;
  border: 1px solid #000000;
  color: #ffffff;
  transition: 1s;
}
.body main .ingresos .ingreso-zapa {
  text-align: center;
}
.body main .ingresos .ingreso-zapa img {
  border-radius: 10px;
  width: 75%;
  height: 550px;
}
.body main .ingresos .ingreso-zapa h5 {
  font-family: "Anton", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  font-size: 2vw;
  text-align: center;
  line-height: 1;
  padding: 15px;
}
.body main .ingresos .ingreso-zapa .link-categorias {
  background-color: #000000;
  width: 100px;
  text-decoration: none;
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
.body main .ingresos .ingreso-zapa .link-categorias:hover {
  background-color: #494141;
  border: 1px solid #000000;
  color: #ffffff;
  transition: 1s;
}
.body .suscripciones {
  background-color: #fe0000;
  margin: 20px;
  padding: 15px;
  border-radius: 3px;
}
.body .suscripciones div {
  display: flex;
  text-align: center;
  align-items: center;
}
.body .suscripciones div img {
  height: 100px;
}
.body .suscripciones div h5 {
  display: flex;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  padding: 50px;
  font-size: 2vw;
  max-width: 75vw;
  color: #000000;
}
.body .suscripciones .suscripcion-container {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}
.body .suscripciones .suscripcion-container .suscripcion-inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  flex-grow: 1;
}
.body .suscripciones .suscripcion-container .suscripcion-inputs input {
  color: #000000;
  font-size: 1.2rem;
  flex-grow: 1;
  border: 0px;
  border-radius: 8px;
  padding: 8px 0px;
  text-indent: 8px;
  border: 2px solid #333333;
  outline: none;
}
.body .suscripciones .suscripcion-container .suscripcion-inputs input:focus {
  border: 2px solid #333333;
}
.body .suscripciones .suscripcion-container button {
  cursor: pointer;
  background-color: #000000;
  border-radius: 8px;
  color: #fff;
  font-size: 1.2rem;
  flex-grow: 1;
  white-space: nowrap;
  padding: 8px 12px;
  border: 0px;
}
.body .footer {
  position: relative;
  width: 100%;
  background: #333333;
  min-height: 100px;
  padding: 15px 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.body .footer .social-icono {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}
.body .footer .social-icono .social-icono_item {
  list-style: none;
}
.body .footer .social-icono .social-icono_link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.body .footer .social-icono .social-icono_link:hover {
  transform: translateY(-10px);
}
.body .footer .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
  list-style: none;
}
.body .footer .menu .menu_item {
  list-style: none;
}
.body .footer .menu .menu_link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}
.body .footer .menu .menu_link:hover {
  transform: translateY(-5px);
}
.body .footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

@media screen and (max-width: 678px) {
  .fila-categorias {
    flex-direction: column;
  }
  .fila-categorias .columna-categorias {
    flex: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 678px) {
  .ingresos img {
    height: 300px;
  }
}
@media screen and (max-width: 670px) {
  .suscripciones {
    font-size: 86px;
  }
}
main section .titulo-tienda {
  font-family: "Anton", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 900;
  font-size: 8vw;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  padding: 15px;
}
main .dropdown {
  padding: 10px;
}
main section .fila {
  display: flex;
}
main section .fila .columna {
  width: 33.3%;
  padding: 5px;
}
main section .fila .columna .nombre-zapatilla {
  display: flex;
  justify-content: space-between;
  font-family: "Anton", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-size: large;
  padding-top: 5px;
}
main section .fila .columna .precio-zapatilla {
  display: flex;
  justify-content: space-between;
  font-family: "Anton", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-size: large;
}
main section .fila .columna .imagen-tienda {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}
main section .fila .columna:hover {
  transform: translateY(-10px);
  background-color: #333333;
  color: #fff;
  transition: 1s;
}
main .footer {
  position: relative;
  width: 100%;
  background: #333333;
  min-height: 100px;
  padding: 15px 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .footer .social-icono {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}
main .footer .social-icono .social-icono_item {
  list-style: none;
}
main .footer .social-icono .social-icono_link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
main .footer .social-icono .social-icono_link:hover {
  transform: translateY(-10px);
}
main .footer .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
  list-style: none;
}
main .footer .menu .menu_item {
  list-style: none;
}
main .footer .menu .menu_link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}
main .footer .menu .menu_link:hover {
  transform: translateY(-5px);
}
main .footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

main {
  margin: 3px;
}
main section {
  margin-left: 3px;
}
main section .titulo-centrado {
  font-family: "Anton", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 900;
  font-size: 8vw;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  padding: 15px;
}
main section .fila-atletas {
  display: flex;
  background-color: #333333;
}
main section .fila-atletas .columna-atletas {
  flex: 33.3%;
  padding: 5px;
  display: inline-block;
  position: relative;
}
main section .fila-atletas .columna-atletas img {
  display: block;
  width: 100%;
  height: 500px;
}
main section .fila-atletas .nombre-atleta {
  position: absolute;
  top: 7%;
  left: 50%;
  padding: 10px 20px;
  font-size: 20px;
  text-align: right;
  font-family: "Anton", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1;
  padding: 15px;
  color: #a39b9b;
}
main .grid-container-atleta {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  margin-left: 3px;
  gap: 0;
}
main .grid-container-atleta .grid-item-atleta {
  background-color: #000000;
  grid-column: 1/2;
  grid-row: 1/1;
  padding: 16px;
  border-radius: 5px;
}
main .grid-container-atleta .grid-item-atleta h1 {
  font-family: "Anton", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 900;
  font-size: 3vw;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  padding: 15px;
  color: #a39b9b;
}
main .grid-container-atleta .grid-item-atleta p {
  font-family: "Anton", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 900;
  font-size: 2vw;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  padding: 15px;
  color: #ffffff;
}
main .grid-container-atleta .grid-item-atleta-dos {
  background-color: #000000;
  grid-column: 2/2;
  grid-row: 1/1;
  padding: 16px;
  border-radius: 5px;
}
main .grid-container-atleta .grid-item-atleta-dos img {
  width: 100%;
  border-radius: 5px;
}
main .fila-atletas-dos {
  display: flex;
  background-color: #333333;
}
main .fila-atletas-dos .columna-atletas-dos {
  flex: 33.3%;
  padding: 5px;
  display: inline-block;
  position: relative;
}
main .fila-atletas-dos .columna-atletas-dos img {
  display: block;
  width: 100%;
  height: 500px;
}
main .fila-atletas-dos .nombre-atleta-dos {
  position: absolute;
  top: 7%;
  left: 50%;
  padding: 10px 20px;
  font-size: 20px;
  text-align: right;
  font-family: "Anton", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1;
  padding: 15px;
  color: #a39b9b;
}
main .footer {
  position: relative;
  width: 100%;
  background: #333333;
  min-height: 100px;
  padding: 15px 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .footer .social-icono {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}
main .footer .social-icono .social-icono_item {
  list-style: none;
}
main .footer .social-icono .social-icono_link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
main .footer .social-icono .social-icono_link:hover {
  transform: translateY(-10px);
}
main .footer .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
  list-style: none;
}
main .footer .menu .menu_item {
  list-style: none;
}
main .footer .menu .menu_link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}
main .footer .menu .menu_link:hover {
  transform: translateY(-5px);
}
main .footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

@media screen and (max-width: 678px) {
  .fila-atletas {
    flex-direction: column;
  }
  .fila-atletas .columna-atletas {
    flex: 100%;
  }
  .fila-atletas .nombre-atleta {
    position: fixed;
  }
}
@media screen and (max-width: 678px) {
  .fila-atletas-dos {
    flex-direction: column;
  }
  .fila-atletas-dos .columna-atletas-dos {
    flex: 100%;
  }
  .fila-atletas-dos .nombre-atleta-dos {
    position: fixed;
  }
}
@media screen and (max-width: 678px) {
  .grid-container-atleta {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
main .modelos {
  display: grid;
  place-content: center;
  font-family: "Red Hat Display", sans-serif;
  padding: 50px;
  background-color: #333333;
}
main .modelos p {
  font-size: 2vw;
  max-width: 75vw;
  color: #fff;
}
main .modelos p .subtitulo {
  background-image: linear-gradient(to top, #000, #333);
}
main .modelo {
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  background-color: #333333;
}
main .modelo .card-zapas {
  width: 48rem;
  height: 46rem;
  border-radius: 10px;
  position: relative;
}
main .modelo .card-zapas img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.9;
  transition: opacity 0.2s ease-out;
  border-radius: 5px;
}
main .modelo .card-zapas img:hover {
  transition: opacity 0.3s ease-in;
  opacity: 1;
}
main .modelo .card-zapas .card-contenido h2 {
  position: absolute;
  inset: auto auto 30px 30px;
  margin: 0;
  transition: inset 0.3s 0.3s ease-out;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 3vw;
  backdrop-filter: blur(20px) saturate(90%);
  padding: 5px;
  border-radius: 5px;
}
main .modelo .card-zapas .card-contenido p {
  position: absolute;
  opacity: 0;
  max-width: 80%;
  transition: opacity 0.3s ease-out;
  inset: auto auto 80px 30px;
  border-radius: 5px;
  padding: 5px;
  font-weight: 300;
  backdrop-filter: blur(20px) saturate(90%);
}
main .modelo .card-zapas .card-contenido p:hover {
  opacity: 1;
  transition: opacity 0.5s 0.1s ease-in;
}
main .footer {
  position: relative;
  width: 100%;
  background: #333333;
  min-height: 100px;
  padding: 15px 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .footer .social-icono {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}
main .footer .social-icono .social-icono_item {
  list-style: none;
}
main .footer .social-icono .social-icono_link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
main .footer .social-icono .social-icono_link:hover {
  transform: translateY(-10px);
}
main .footer .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
  list-style: none;
}
main .footer .menu .menu_item {
  list-style: none;
}
main .footer .menu .menu_link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}
main .footer .menu .menu_link:hover {
  transform: translateY(-5px);
}
main .footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

main {
  box-sizing: border-box;
}
main .origen {
  display: grid;
  place-content: center;
  background: #333333;
  font-family: "Red Hat Display", sans-serif;
  padding: 50px;
}
main .origen p {
  font-size: 2vw;
  max-width: 75vw;
  color: #fefefe;
}
main .origen p .subtitulo {
  background-image: linear-gradient(to top, #000, #333);
}
main .historia {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #333;
}
main .historia .cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
main .historia .cards .card {
  margin: 40px;
  position: relative;
  max-width: 250px;
  max-height: 350px;
  -webkit-box-shadow: 17px 16px 39px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 17px 16px 39px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 17px 16px 39px -1px rgba(0, 0, 0, 0.75);
  background-color: #333333;
}
main .historia .cards .card img {
  width: 100%;
  height: 98%;
  object-fit: cover;
  display: block;
  position: relative;
}
main .historia .cards .card .card-titulo {
  display: block;
  text-align: center;
  color: #000;
  background-color: #6184a8;
  padding: 2%;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
}
main .historia .cards .card .card-contenido {
  display: block;
  font-size: 1.2rem;
  position: absolute;
  height: 0;
  top: 0;
  opacity: 0;
  padding: 18px 8%;
  background-color: #333333;
  color: #fff;
  overflow-y: scroll;
  transition: 0.8s ease;
}
main .historia .cards .card .card-contenido:hover {
  opacity: 1;
  height: 100%;
}
main .titulo-lideres {
  font-family: "Anton", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 8vw;
  text-align: center;
  line-height: 1;
  padding: 15px;
  color: #fefefe;
}
main .footer {
  position: relative;
  width: 100%;
  background: #333333;
  min-height: 100px;
  padding: 15px 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .footer .social-icono {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}
main .footer .social-icono .social-icono_item {
  list-style: none;
}
main .footer .social-icono .social-icono_link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
main .footer .social-icono .social-icono_link:hover {
  transform: translateY(-10px);
}
main .footer .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
  list-style: none;
}
main .footer .menu .menu_item {
  list-style: none;
}
main .footer .menu .menu_link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}
main .footer .menu .menu_link:hover {
  transform: translateY(-5px);
}
main .footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

/*@media screen and (max-width: 600px) {
  .origen {
    height: 50vw;
    font-size: 30px;
  }
}*/

/*# sourceMappingURL=style.css.map */
