.body {
  background-color: #f8f9fa;
  margin: 10px;
  padding: 0px;
  box-sizing: border-box;
}
.body header {
  background-color: #f8f9fa;
  display: flex;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
}
.body header nav .logo-navbar {
  height: 100px;
}
.body header nav .navbar-collapse {
  color: #f8f9fa;
  display: none;
  position: relative;
}
.body header nav .navbar-collapse ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.body header nav .navbar-collapse ul li a {
  color: #000000;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px 40px 0px 40px;
  justify-content: space-between;
  align-items: center;
  font-size: larger;
}
.body main .imagenes-inicio .imagen-inicio {
  height: 400px;
  margin-left: 5px;
  width: 100%;
}
.body main .categorias-inicio .titulo-centrado {
  font-family: "Anton", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 900;
  font-size: 8vw;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  padding: 15px;
}
.body main .imagen-categorias {
  height: 300px;
  width: 25%;
}
.body main .link-categorias {
  background-color: #000000;
  display: block;
  margin-top: 5px;
  margin-left: 0px;
  width: 100px;
  text-decoration: none;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  color: #ffffff;
}
.body main .link-categorias:hover {
  background-color: #494141;
  border: 1px solid #000000;
  color: #000000;
  transition: 1s;
}
.body .pie-pagina {
  text-align: right;
  background-color: #000000;
}
.body .pie-pagina .contenido-piepagina {
  font-family: "Anton", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  color: #ffffff;
}

main section .titulo-tienda {
  font-family: "Anton", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 900;
  font-size: 8vw;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  padding: 15px;
}
main section .fila {
  display: flex;
}
main section .fila .columna {
  width: 33.3%;
  padding: 5px;
}
main section .fila .columna .nombre-zapatilla {
  display: flex;
  justify-content: space-between;
  font-family: "Anton", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-size: large;
  padding-top: 5px;
}
main section .fila .columna .precio-zapatilla {
  display: flex;
  justify-content: space-between;
  font-family: "Anton", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-size: large;
}
main section .fila .columna .imagen-tienda {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

main {
  margin: 3px;
}
main section {
  margin-left: 3px;
}
main section .titulo-centrado {
  font-family: "Anton", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 900;
  font-size: 8vw;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  padding: 15px;
}
main section .fila-atletas {
  display: flex;
}
main section .fila-atletas .columna-atletas {
  width: 33.3%;
  padding: 5px;
  display: inline-block;
  position: relative;
}
main section .fila-atletas .columna-atletas img {
  display: block;
  width: 100%;
  height: 500px;
}
main section .fila-atletas .nombre-atleta {
  position: absolute;
  top: 7%;
  left: 50%;
  padding: 10px 20px;
  font-size: 20px;
  text-align: right;
  font-family: "Anton", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1;
  padding: 15px;
  color: #a39b9b;
}
main .grid-container-atleta {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  margin-left: 3px;
}
main .grid-container-atleta .grid-item-atleta {
  background-color: #000000;
  grid-column: 1/2;
  grid-row: 1/1;
  padding: 16px;
  border-radius: 5px;
}
main .grid-container-atleta .grid-item-atleta h1 {
  font-family: "Anton", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 900;
  font-size: 3vw;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  padding: 15px;
  color: #a39b9b;
}
main .grid-container-atleta .grid-item-atleta p {
  font-family: "Anton", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 900;
  font-size: 2vw;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  padding: 15px;
  color: #ffffff;
}
main .grid-container-atleta .grid-item-atleta-dos {
  background-color: #000000;
  grid-column: 2/2;
  grid-row: 1/1;
  padding: 16px;
  border-radius: 5px;
}
main .grid-container-atleta .grid-item-atleta-dos img {
  width: 100%;
  border-radius: 5px;
}
main .fila-atletas-dos {
  display: flex;
}
main .fila-atletas-dos .columna-atletas-dos {
  width: 33.3%;
  padding: 5px;
  display: inline-block;
  position: relative;
}
main .fila-atletas-dos .columna-atletas-dos img {
  display: block;
  width: 100%;
  height: 500px;
}
main .fila-atletas-dos .nombre-atleta-dos {
  position: absolute;
  top: 7%;
  left: 50%;
  padding: 10px 20px;
  font-size: 20px;
  text-align: right;
  font-family: "Anton", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1;
  padding: 15px;
  color: #a39b9b;
}

main .grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
main .grid-container .grid-item-uno {
  background-color: #000000;
  grid-column: 1/2;
  grid-row: 1/2;
  padding: 16px;
  border-radius: 5px;
}
main .grid-container .grid-item-uno h1 {
  font-family: "Anton", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 900;
  font-size: 3vw;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  padding: 15px;
  color: #a39b9b;
}
main .grid-container .grid-item-uno p {
  font-family: "Anton", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 900;
  font-size: 2vw;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  padding: 15px;
  color: #ffffff;
}
main .grid-container .grid-item-dos {
  background-color: #000000;
  grid-column: 2/2;
  grid-row: 1/2;
  padding: 16px;
  border-radius: 5px;
}
main .grid-container .grid-item-dos img {
  width: 100%;
  border-radius: 5px;
}
main .grid-container .grid-item-tres {
  background-color: #8d021f;
  grid-column: 1/2;
  grid-row: 2/2;
  padding: 16px;
  border-radius: 5px;
}
main .grid-container .grid-item-tres img {
  width: 100%;
  border-radius: 5px;
}
main .grid-container .grid-item-cuatro {
  background-color: #8d021f;
  grid-column: 2/2;
  grid-row: 2/2;
  padding: 16px;
  border-radius: 5px;
}
main .grid-container .grid-item-cuatro h1 {
  font-family: "Anton", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 900;
  font-size: 3vw;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  padding: 15px;
  color: #a39b9b;
}
main .grid-container .grid-item-cuatro p {
  font-family: "Anton", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 900;
  font-size: 2vw;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  padding: 15px;
  color: #ffffff;
}

.titulo-historia {
  font-family: "Anton", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  padding: 10px 30px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid;
}

.texto-historia {
  text-align: left;
  font-family: "Anton", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  margin: 15px;
}

.columna-historia {
  width: 25%;
  padding: 5px;
  display: inline-block;
  position: relative;
}

.columna-historia img {
  display: block;
  width: 100%;
  height: 180px;
}

.fila-historia {
  display: flex;
}

.lideres {
  text-align: left;
  font-family: "Anton", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
}

/*# sourceMappingURL=style.css.map */
