main {
  margin: 3px;
  section {
    margin-left: 3px;
    .titulo-centrado {
      font-family: "Anton", sans-serif;
      font-family: "Nunito Sans", sans-serif;
      font-family: "Poppins", sans-serif;
      font-family: "Roboto Condensed", sans-serif;
      font-weight: 900;
      font-size: 8vw;
      text-transform: uppercase;
      text-align: center;
      line-height: 1;
      padding: 15px;
    }
    .fila-atletas {
      display: flex;
      .columna-atletas {
        flex: 33.3%;
        padding: 5px;
        display: inline-block;
        position: relative;
        img {
          display: block;
          width: 100%;
          height: 500px;
        }
      }
      .nombre-atleta {
        position: absolute;
        top: 7%;
        left: 50%;
        padding: 10px 20px;
        font-size: 20px;
        text-align: right;
        font-family: "Anton", sans-serif;
        font-family: "Nunito Sans", sans-serif;
        font-family: "Poppins", sans-serif;
        font-family: "Roboto Condensed", sans-serif;
        font-weight: 900;
        text-transform: uppercase;
        line-height: 1;
        padding: 15px;
        color: #a39b9b;
      }
    }
  }
  .grid-container-atleta {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin-left: 3px;
    gap: 0;
    .grid-item-atleta {
      background-color: #000000;
      grid-column: 1/2;
      grid-row: 1/1;
      padding: 16px;
      border-radius: 5px;
      h1 {
        font-family: "Anton", sans-serif;
        font-family: "Nunito Sans", sans-serif;
        font-family: "Poppins", sans-serif;
        font-family: "Roboto Condensed", sans-serif;
        font-weight: 900;
        font-size: 3vw;
        text-transform: uppercase;
        text-align: center;
        line-height: 1;
        padding: 15px;
        color: #a39b9b;
      }
      p {
        font-family: "Anton", sans-serif;
        font-family: "Nunito Sans", sans-serif;
        font-family: "Poppins", sans-serif;
        font-family: "Roboto Condensed", sans-serif;
        font-weight: 900;
        font-size: 2vw;
        text-transform: uppercase;
        text-align: center;
        line-height: 1;
        padding: 15px;
        color: #ffffff;
      }
    }
    .grid-item-atleta-dos {
      background-color: #000000;
      grid-column: 2/2;
      grid-row: 1/1;
      padding: 16px;
      border-radius: 5px;
      img {
        width: 100%;
        border-radius: 5px;
      }
    }
  }
  .fila-atletas-dos {
    display: flex;
    .columna-atletas-dos {
      flex: 33.3%;
      padding: 5px;
      display: inline-block;
      position: relative;
      img {
        display: block;
        width: 100%;
        height: 500px;
      }
    }
    .nombre-atleta-dos {
      position: absolute;
      top: 7%;
      left: 50%;
      padding: 10px 20px;
      font-size: 20px;
      text-align: right;
      font-family: "Anton", sans-serif;
      font-family: "Nunito Sans", sans-serif;
      font-family: "Poppins", sans-serif;
      font-family: "Roboto Condensed", sans-serif;
      font-weight: 900;
      text-transform: uppercase;
      line-height: 1;
      padding: 15px;
      color: #a39b9b;
    }
  }
  .footer {
    position: relative;
    width: 100%;
    background: #333333;
    min-height: 100px;
    padding: 15px 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .social-icono {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px 0;
      flex-wrap: wrap;
      .social-icono_item {
        list-style: none;
      }
      .social-icono_link {
        font-size: 2rem;
        color: #fff;
        margin: 0 10px;
        display: inline-block;
        transition: 0.5s;
      }
      .social-icono_link:hover {
        transform: translateY(-10px);
      }
    }
    .menu {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px 0;
      flex-wrap: wrap;
      list-style: none;
      .menu_item {
        list-style: none;
      }
      .menu_link {
        font-size: 1.2rem;
        color: #fff;
        margin: 0 10px;
        display: inline-block;
        transition: 0.5s;
        text-decoration: none;
        opacity: 0.75;
        font-weight: 300;
      }
      .menu_link:hover {
        transform: translateY(-5px);
      }
    }
    p {
      color: #fff;
      margin: 15px 0 10px 0;
      font-size: 1rem;
      font-weight: 300;
    }
  }
}

@media screen and (max-width: 678px) {
  .fila-atletas {
    flex-direction: column;
    .columna-atletas {
      flex: 100%;
    }
    .nombre-atleta {
      position: fixed;
    }
  }
}

@media screen and (max-width: 678px) {
  .fila-atletas-dos {
    flex-direction: column;
    .columna-atletas-dos {
      flex: 100%;
    }
    .nombre-atleta-dos {
      position: fixed;
    }
  }
}
