.body {
  background-color: #f8f9fa;
  margin: 10px;
  padding: 0px;
  box-sizing: border-box;
  header {
    background-color: #f8f9fa;
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    nav {
      div {
        a {
          img {
            height: 100px;
          }
        }
      }
      #navbarTogglerDemo02 {
        color: #f8f9fa;
        //display: flex;
        position: relative;
        ul {
          list-style-type: none;
          display: flex;
          justify-content: space-between;
          li a {
            color: #000000;
            text-decoration: none;
            font-family: Arial, Helvetica, sans-serif;
            margin: 0px 55px 0px 55px;
            justify-content: space-between;
            align-items: center;
            font-size: larger;
          }
          li a:hover {
            background-color: #000000;
            color: #ffffff;
            transition: 0.5s;
            border-radius: 5px;
          }
        }
      }
    }
  }
  main {
    h1 {
      font-family: "Anton", sans-serif;
      font-family: "Nunito Sans", sans-serif;
      font-family: "Poppins", sans-serif;
      font-family: "Roboto Condensed", sans-serif;
      font-weight: 700;
      font-size: 8vw;
      text-transform: uppercase;
      text-align: center;
      line-height: 1;
      padding: 10px;
    }
    .imagenes-inicio {
      .imagen-inicio {
        height: 500px;
        margin-left: 5px;
        width: 100%;
      }
    }
    .categorias-inicio {
      .titulo-centrado {
        font-family: "Anton", sans-serif;
        font-family: "Nunito Sans", sans-serif;
        font-family: "Poppins", sans-serif;
        font-family: "Roboto Condensed", sans-serif;
        font-weight: 700;
        font-size: 8vw;
        text-transform: uppercase;
        text-align: center;
        line-height: 1;
        padding: 15px;
      }
    }
    .imagen-categorias {
      height: 300px;
      width: 25%;
    }
    .link-categorias {
      background-color: #000000;
      display: block;
      margin-top: 5px;
      margin-left: 0px;
      width: 100px;
      text-decoration: none;
      text-align: center;
      font-family: "Anton", sans-serif;
      font-family: "Nunito Sans", sans-serif;
      font-family: "Poppins", sans-serif;
      font-family: "Roboto Condensed", sans-serif;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 1;
      border-radius: 5px;
      color: #ffffff;
    }
    .link-categorias:hover {
      background-color: #494141;
      border: 1px solid #000000;
      color: #ffffff;
      transition: 1s;
    }
  }
  .pie-pagina {
    text-align: right;
    background-color: #000000;
    .contenido-piepagina {
      font-family: "Anton", sans-serif;
      font-family: "Nunito Sans", sans-serif;
      font-family: "Poppins", sans-serif;
      font-family: "Roboto Condensed", sans-serif;
      color: #ffffff;
    }
  }
}
