.body {
  background-color: #f8f9fa;
  margin: 10px;
  padding: 0px;
  box-sizing: border-box;
  header {
    background-color: #f8f9fa;
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    nav {
      div {
        flex: 100%;
        a {
          img {
            height: 100px;
          }
        }
      }
      #navbarTogglerDemo02 {
        color: #f8f9fa;
        //display: flex;
        position: relative;
        ul {
          list-style-type: none;
          display: flex;
          justify-content: space-between;
          li a {
            color: #000000;
            text-decoration: none;
            font-family: Arial, Helvetica, sans-serif;
            margin: 0px 55px 0px 55px;
            justify-content: space-between;
            align-items: center;
            font-size: larger;
          }
          li a:hover {
            background-color: #000000;
            color: #ffffff;
            transition: 0.5s;
            border-radius: 5px;
          }
        }
      }
    }
  }
  main {
    .banner-descuento {
      width: 100%;
      background-size: cover;
      font-size: 80px;
      color: #fff;
      text-align: center;
      padding: 40px 15px;
      background: url(https://static.nike.com/a/images/f_auto,cs_srgb/w_1920,c_limit/tpqid8vgfey6m4ke86te/nike-joyride.jpg);
      .titulo-descuento {
        font-size: 130px;
        font-weight: 800;
        animation-delay: 1s;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black;
      }
      a {
        display: inline-block;
        background: #fff;
        color: #36465d;
        text-transform: uppercase;
        padding: 14px;
        text-decoration: none;
        font-size: 40px;
        transition: 0.3s;
        border-radius: 5px;
      }
      a:hover {
        background: #333;
        color: #fff;
        padding: 15px 20px;
      }
    }
    h1 {
      font-family: "Anton", sans-serif;
      font-family: "Nunito Sans", sans-serif;
      font-family: "Poppins", sans-serif;
      font-family: "Roboto Condensed", sans-serif;
      font-weight: 700;
      font-size: 8vw;
      text-transform: uppercase;
      text-align: center;
      line-height: 1;
      padding: 10px;
    }
    .titulo-centrado {
      font-family: "Anton", sans-serif;
      font-family: "Nunito Sans", sans-serif;
      font-family: "Poppins", sans-serif;
      font-family: "Roboto Condensed", sans-serif;
      font-weight: 700;
      font-size: 8vw;
      text-transform: uppercase;
      text-align: center;
      line-height: 1;
      padding: 15px;
    }
    .imagenes-inicio {
      .imagen-inicio {
        height: 500px;
        margin-left: 5px;
        width: 100%;
      }
    }
    .categorias-inicio {
      box-sizing: border-box;
      .fila-categorias {
        display: flex;
        .columna-categorias {
          float: left;
          flex: 25%;
          padding: 5px;
          .imagen-categorias {
            display: block;
            width: 100%;
            height: 400px;
          }
        }
        .columna-categorias:hover {
          transform: translateY(-10px);
          background-color: #333333;
          color: #fff;
          transition: 1s;
        }
      }
      .link-categorias {
        background-color: #000000;
        display: block;
        margin-top: 5px;
        margin-left: 0px;
        width: 100px;
        text-decoration: none;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        line-height: 1;
        border-radius: 10px;
        color: #ffffff;
      }
      .link-categorias:hover {
        background-color: #494141;
        border: 1px solid #000000;
        color: #ffffff;
        transition: 1s;
      }
    }
    .ingresos {
      .ingreso-zapa {
        text-align: center;
        img {
          border-radius: 10px;
          width: 75%;
          height: 550px;
        }
        h5 {
          font-family: "Anton", sans-serif;
          font-family: "Nunito Sans", sans-serif;
          font-family: "Poppins", sans-serif;
          font-family: "Roboto Condensed", sans-serif;
          font-weight: 600;
          font-size: 2vw;
          text-align: center;
          line-height: 1;
          padding: 15px;
        }
        .link-categorias {
          background-color: #000000;
          width: 100px;
          text-decoration: none;
          font-size: 1.2rem;
          color: #fff;
          margin: 0 10px;
          display: inline-block;
          text-decoration: none;
          border-radius: 5px;
          font-family: Arial, Helvetica, sans-serif;
        }
        .link-categorias:hover {
          background-color: #494141;
          border: 1px solid #000000;
          color: #ffffff;
          transition: 1s;
        }
      }
    }
  }
  .suscripciones {
    background-color: #fe0000;
    margin: 20px;
    padding: 15px;
    border-radius: 3px;
    div {
      display: flex;
      text-align: center;
      align-items: center;
      img {
        height: 100px;
      }
      h5 {
        display: flex;
        text-align: center;
        font-family: "Red Hat Display", sans-serif;
        padding: 50px;
        font-size: 2vw;
        max-width: 75vw;
        color: #000000;
      }
    }
    .suscripcion-container {
      display: flex;
      gap: 12px;
      flex-wrap: wrap;
      .suscripcion-inputs {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        flex-grow: 1;
        input {
          color: #000000;
          font-size: 1.2rem;
          flex-grow: 1;
          border: 0px;
          border-radius: 8px;
          padding: 8px 0px;
          text-indent: 8px;
          border: 2px solid #333333;
          outline: none;
        }
        input:focus {
          border: 2px solid #333333;
        }
      }
      button {
        cursor: pointer;
        background-color: #000000;
        border-radius: 8px;
        color: #fff;
        font-size: 1.2rem;
        flex-grow: 1;
        white-space: nowrap;
        padding: 8px 12px;
        border: 0px;
      }
    }
  }
  .footer {
    position: relative;
    width: 100%;
    background: #333333;
    min-height: 100px;
    padding: 15px 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .social-icono {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px 0;
      flex-wrap: wrap;
      .social-icono_item {
        list-style: none;
      }
      .social-icono_link {
        font-size: 2rem;
        color: #fff;
        margin: 0 10px;
        display: inline-block;
        transition: 0.5s;
      }
      .social-icono_link:hover {
        transform: translateY(-10px);
      }
    }
    .menu {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px 0;
      flex-wrap: wrap;
      list-style: none;
      .menu_item {
        list-style: none;
      }
      .menu_link {
        font-size: 1.2rem;
        color: #fff;
        margin: 0 10px;
        display: inline-block;
        transition: 0.5s;
        text-decoration: none;
        opacity: 0.75;
        font-weight: 300;
      }
      .menu_link:hover {
        transform: translateY(-5px);
      }
    }
    p {
      color: #fff;
      margin: 15px 0 10px 0;
      font-size: 1rem;
      font-weight: 300;
    }
  }
}

@media screen and (max-width: 678px) {
  .fila-categorias {
    flex-direction: column;
    .columna-categorias {
      flex: 100%;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

@media screen and (max-width: 678px) {
  .ingresos {
    img {
      height: 300px;
    }
  }
}

@media screen and (max-width: 670px) {
  .suscripciones {
    font-size: 86px;
  }
}
